.wrapper {
  height: calc(100vh - 56px);
  display: flex;
  position: relative;
  left: 55px;
  // top: 72px;
  top: 56px;

  .left-side-panel {
    position: relative;
    z-index: 2;
    box-shadow: 0px 2px 3px 0px var(--box_shadow);
    flex: 0 0 320px;
    background-color: var(--white_color);
  }

  .middle-panel-content {
    flex: 1;

    .cust-mid {
      margin: 15px;
      width: calc(100% - 70px);

      ::ng-deep .accordion {
        .card {
          border: none;
          margin-bottom: 14px;
          box-shadow: 0px 2px 3px 0px var(--box_shadow);
          border-radius: 15px;

          .card-header {
            background-color: var(--white_color);
            padding: 10px;
            border: none;

            button {
              width: 100%;

              &:focus {
                outline: none;
                box-shadow: none;
                text-decoration: none;
              }

              &:hover {
                text-decoration: none;
              }

              .case-switches-header {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .client-action-btn {
                  display: flex;

                  .filter-menu-drpdwn {
                    .btn-filter {
                      padding: 0px;

                      &:focus {
                        outline: none;
                        box-shadow: none;
                      }
                    }

                    .unlink_filter_list {
                      background-color: var(--white_color);
                      position: absolute;
                      box-shadow: 0px 3px 6px var(--box_shadow);
                      border-radius: 15px;
                      border: 1px solid var(--theme_bg_color);
                      padding: 14px 14px;
                      left: auto !important;
                      right: 0px;

                      .sort-menus {
                        .sortmenu {
                          border: none;
                          background-color: transparent;
                          color: var(--theme_color);
                          font-size: 14px;
                          font-weight: 500;
                          width: 100%;
                          text-align: left;

                          &:hover {
                            box-shadow: none;
                            background-color: var(--theme_bg_color);
                          }

                          .filt_cross {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                          }

                          .mob-ttl {
                            color: var(--profile_icon_border);
                            font-size: 12px;
                            text-transform: capitalize;
                          }

                          p {
                            color: var(--theme_title);
                            font-size: 14px;

                            a {
                              color: var(--theme_title);

                              &:hover {
                                color: var(--theme_title);
                              }
                            }
                          }
                        }
                      }

                      .unlink_fit_ttl {
                        font-size: 16px;
                        color: var(--theme_black);
                        font-weight: bold;
                        padding: 4px 10px;
                        margin-bottom: 0px;
                      }

                      .unlink_brder-btms {
                        border-bottom: 1px solid var(--theme_input_border);
                      }

                      .three-dots-drp {
                        display: flex;
                        align-items: center;
                        padding-bottom: 10px;

                        .icons {
                          padding-right: 10px;
                          display: flex;
                        }

                        .txt {
                          color: var(--theme_input_color);
                          font-size: 14px;
                        }
                      }
                    }
                  }

                  .filter-menu-drpdwn.show {
                    .bell-plus::before {
                      content: "\e910";
                    }
                  }

                  button {
                    background-color: transparent;
                    border: none;

                    i {
                      color: var(--theme_bg_blue);
                      padding: 0px 5px;
                      font-size: 14px;

                      &::before {
                        color: var(--theme_bg_blue);
                      }
                    }

                    &:focus {
                      box-shadow: none;
                    }
                  }

                  .btn-export {
                    background-color: var(--white_color);
                    box-shadow: 0px 2px 3px var(--box_shadow);
                    border: 1px solid var(--theme_input_border);
                    text-decoration: none;
                    border-radius: 4px;
                    padding: 8px 16px;
                    display: flex;
                    align-items: center;

                    span {
                      color: var(--theme_input_color);
                      font-size: 14px;
                      padding-left: 5px;
                    }

                    &:hover {
                      color: var(--theme_bg_blue);
                      box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
                        0 1px 10px 0 rgb(0 0 0 / 12%);

                      span {
                        color: var(--theme_bg_blue);
                      }

                      i {
                        &::before {
                          color: var(--theme_bg_blue);
                        }
                      }
                    }
                  }
                }

                .acc-title {

                  display: flex;

                  // .client-pic {
                  //     img {
                  //         height: 60px;
                  //         width: auto;
                  //     }
                  // }
                  .media-profile {
                    position: relative;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    margin: 0 0 0 0;
                    overflow: hidden;

                    .case-profile {
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      left: 0;
                      top: 0;
                      object-fit: cover;
                    }
                  }

                  .client-name {
                    padding-left: 30px;
                    color: var(--theme_title);
                    font-size: 25px;
                    font-weight: 600;
                  }

                  .case-name {
                    color: var(--theme_title);
                    font-size: 20px;
                    font-weight: 600;
                    text-transform: capitalize;
                  }
                }
              }
            }
          }

          .card-body {
            height: calc(100vh - 280px);
            overflow-y: scroll;

            // overflow-x: hidden;
            .client-collection {
              width: 80%;
              margin: 0 auto;

              .client-calling {
                display: flex;
                padding-bottom: 14px;
                border-bottom: 1px solid var(--theme_input_border);

                .call-info {
                  display: flex;
                  padding-left: 40px;

                  &:first-child {
                    padding-left: 0px;
                  }

                  .icon {
                    span {
                      font-size: 30px;
                    }
                  }

                  .data {
                    padding-left: 6px;

                    .data-ttl {
                      color: var(--profile_icon_border);
                      font-size: 12px;
                    }

                    .data-subttl {
                      color: var(--theme_title);
                      font-size: 14px;
                      padding-bottom: 10px;
                    }

                    input {
                      border: none;
                      border-bottom: 1px solid var(--theme_input_border);
                      color: var(--theme_black);
                      font-size: 14px;

                      ::placeholder {
                        font-size: 12px;
                        color: var(--theme_input_color);
                      }

                      &:focus {
                        outline: none;
                        box-shadow: none;
                      }
                    }
                  }
                }

                .social-mail-info {
                  padding-left: 40px;

                  .icon {
                    display: flex;
                    padding-bottom: 20px;

                    .mail {
                      font-size: 30px;
                    }

                    .mail-data {
                      color: var(--theme_title);
                      font-size: 14px;
                      padding-left: 6px;
                    }

                    input {
                      border: none;
                      border-bottom: 1px solid var(--theme_input_border);
                      color: var(--theme_black);
                      font-size: 14px;

                      ::placeholder {
                        font-size: 12px;
                        color: var(--theme_input_color);
                      }

                      &:focus {
                        outline: none;
                        box-shadow: none;
                      }
                    }
                  }
                }
              }

              .other {
                .x4 {
                  font-size: 18px;
                  color: var(--theme_title);
                  text-transform: capitalize;
                  padding-top: 20px;
                }

                .other-infos {
                  display: flex;
                  align-items: center;
                }

                .info {
                  font-size: 14px;
                  font-weight: 600;
                  margin-bottom: 10px;
                  display: flex;
                  padding-left: 40px;

                  &:first-child,
                  &:last-child {
                    padding-left: 0px;
                  }

                  .gray {
                    color: var(--theme_input_color);
                    font-weight: normal;
                  }

                  .green {
                    color: var(--theme_green);
                  }

                  span {
                    color: var(--theme_input_color);
                    font-size: 14px;
                  }

                  input {
                    border: none;
                    border-bottom: 1px solid var(--theme_input_border);
                    color: var(--theme_black);
                    font-size: 14px;

                    ::placeholder {
                      font-size: 12px;
                      color: var(--theme_input_color);
                    }

                    &:focus {
                      outline: none;
                      box-shadow: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal-header {
  padding: 10px 20px;

  .modal-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--theme_black);
  }
}

.modal-body {
  padding: 0px;

  .merge-info {
    background-color: var(--theme_bg_color);
    border-top: 1px solid var(--theme_input_border);
    border-bottom: 1px solid var(--theme_input_border);
    padding: 10px 20px;
    display: flex;

    .mer_info {
      padding-left: 10px;
      width: 100%;

      .title {
        font-size: 14px;
        font-weight: 600;
        color: var(--theme_title);
        text-transform: capitalize;
      }

      .sub-title {
        color: var(--theme_input_color);
        font-size: 12px;
      }

      .assign_deatils {
        display: flex;
        align-items: center;

        .caseid {
          color: var(--theme_input_color);
          font-size: 12px;
          padding-right: 16px;
        }

        .blueid {
          color: var(--theme_bg_blue);
          font-size: 12px;
        }

        .casenumber {
          font-weight: 600;
          color: var(--theme_title);
          font-size: 12px;
        }

        .casedate {
          font-weight: 500;
          color: var(--theme_input_color);
          font-size: 12px;
        }
      }
    }

    .call-info {
      display: flex;
      padding: 12px 0px;

      .icon {
        span {
          font-size: 30px;
        }
      }

      .data {
        padding-right: 16px;

        .data-ttl {
          color: var(--theme_title);
          font-size: 12px;
        }

        .data-subttl {
          font-size: 14px;
          color: var(--theme_title);
        }
      }
    }

    .case-count {
      color: var(--theme_title);
      font-size: 14px;
      font-weight: 600;
    }
  }

  .frm_merge {
    padding: 20px;

    .field {
      display: flex;
      position: relative;
      width: 50%;
      margin: 20px 0px;

      input[type="text"] {
        display: block;
        flex: 1;
        padding: 10px;
        font-size: 14px;
        border: 1px solid var(--theme_input_border);

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: var(--theme_input_color);
          font-size: 12px;
        }
      }

      input {
        &:focus {
          ~button {
            display: block;
          }
        }
      }

      button {
        display: none;
        font-size: 16px;
        font-weight: 600;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background-color: var(--theme_bg_blue);
        color: var(--white_color);
        text-transform: capitalize;
      }
    }

    .case-guide {
      color: var(--theme_title);
      font-size: 12px;
    }

    .select_tomereg {
      border: 1px solid var(--theme_input_border);
      border-radius: 10px;
      background-color: transparent;
      margin: 10px 0px;
    }

    .btn_merge {
      text-align: center;
      margin: 30px 0px 20px;

      button {
        background-color: var(--theme_bg_blue);
        color: var(--white_color);
        font-size: 16px;
        font-weight: 600;
        border-radius: 4px;
        border: none;
        padding: 8px 30px;

        &:hover {
          box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
            0 1px 10px 0 rgb(0 0 0 / 12%);
        }
      }
    }
  }
}

// @media only screen and (min-width: 1600px) {
//     .wrapper {
//         .left-side-panel {
//             flex: 0 0 400px;
//         }
//     }
// }
