.wrapper {
  height: calc(100vh - 89px);
  display: flex;
  position: relative;
  left: 55px;
  // top: 72px;
  top: 56px;

  .left-side-panel {
    position: relative;
    z-index: 2;
    box-shadow: 0px 2px 3px 0px var(--box_shadow);
    flex: 0 0 340px;
  }

  .middle-panel-content {
    flex: 1;

    .cust-mid {
      margin: 10px 15px;
    }
  }

  .right-side-panel {
    flex: 0 0 360px;

    .cust-rigntside {
      width: 85%;
    }
  }

  .caseidBlock {
    flex: 1;

    .caseidSec {
      margin: 10px 15px 0px;
      display: flex;

      .case-ticket {
        background-color: var(--white_color);
        box-shadow: 0px 2px 3px 0px var(--box_shadow);
        padding: 8px;
        border-radius: 4px;
        font-size: 12px;
        width: 12%;
        margin-right: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        i {
          font-size: 10px;
        }
      }
    }

  }
}
