<div class="uf_cmn_sty">
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 no-padding cases-mobile">
            <app-case-list></app-case-list>
        </div>
        <div class="col-lg-9 d-sm-block show-cases">
            <div class="tile" id="tile-1">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" id="tabs" role="tablist">
                    <div class="slider"></div>
                    <li class="">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#interactions" role="tab"
                            aria-controls="home" aria-selected="true"><i class="fas fa-home"></i> Interactions</a>
                    </li>
                    <li class="">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#case-info" role="tab"
                            aria-controls="profile" aria-selected="false"><i class="fas fa-id-card"></i> Case Info</a>
                    </li>
                    <li class="">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact-info" role="tab"
                            aria-controls="contact" aria-selected="false"><i class="fas fa-map-signs"></i> Contact
                            Info</a>
                    </li>
                </ul>              
                <div class="d-flex tab-content case-cont">
                    <div class="col-md-8 padding-less middle tab-pane fade show active" id="interactions"
                        role="tabpanel" aria-labelledby="home-tab">
                        <app-case-interaction-list></app-case-interaction-list>                     
                    </div>
                    <div class="col-md-4 padding-right last" id="last">
                        <app-case-info></app-case-info>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>