<div class="fadeData column-fadeData KM-details">
    <div class="panel-header">
        <h4>Knowledge Manager</h4>
        <div class="close-btn"><i (click)="closePanel()" class="icon-cancel"></i></div>
    </div>
    <div class="panel-body">
        <div class="img"><img src="assets/images/taj.jpg"></div>
        <div class="content-area">
            <div class="details">
                <h5>Taj Mahal</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit id vitae accusamus deleniti vel at
                    debitis et maxime molestias eius adipisci provident voluptas ducimus doloremque magnam asperiores
                    expedita, error quidem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nihil beatae
                    vitae nemo placeat dignissimos optio qui earum aliquid repellendus temporibus nobis, eos autem animi
                    minima dolorem odit maxime delectus?</p>
            </div>
            <div class="buttons text-center">
                <button (click)="closePanel()" class="btn btn-cancel">Cancel</button>
                <button class="btn btn-save">Share</button>
            </div>
        </div>
    </div>
</div>