<div class="rightSlidePanel column-slide-panel panel-dashboard">
   <div class="panel-header">
      <h4>Block Cases</h4>
      <div class="close-btn"><i (click)="closePanel()" class="icon-cancel"></i></div>
   </div>
   <div class="panel-body">
      <div class="custom-tab bordered-tab">
         <ul class="nav">
            <li><a data-target="#Upcoming" data-toggle="tab" class="active">Upcoming</a></li>
            <li><a data-target="#Completed" data-toggle="tab">Completed</a></li>
            <li><a data-target="#All" data-toggle="tab">All</a></li>

         </ul>
         <div class="scroll-content">
            <div class="tab-content">
               <div id="Upcoming" class="tab-pane active">
                  <ul class="mail-list">
                     <li class="new-mail">
                        <div class="mail-info"><span class="date gray">11:25:20 PM</span>
                           <!-- <a class="mail-action">
                              <i class="icon-more-dots"></i>
                           </a> -->
                        </div>
                        <div class="mail-block">
                           <div class="mail-type"><i class="icon-mail-outline"></i></div>
                           <div class="mail-details">
                              <div class="block-id"> 2405454</div>
                              <div class="block-name">Debra Lucas</div>
                              <div class="block-info">
                                 <i class="icon-mail-outline pr-1"></i>
                                 Carol Reyes <span class="dot">.</span> created 20 mins ago
                              </div>

                              <div class="assign-to"><span class="icon-assign-outline pr-1"> </span>
                                 <span class="name-assign">Assign to : Credit Card - Amit Patil</span>
                              </div>
                           </div>
                        </div>
                     </li>
                   
                  </ul>
               </div>
               <div id="Completed" class="tab-pane">
                  <ul class="mail-list">
                     <li class="new-mail">
                        <div class="mail-info"><span class="date gray">11:25:20 PM</span>
                           <!-- <a class="mail-action"><i
                                 class="icon-more-dots"></i></a> -->
                              </div>
                        <div class="mail-block">
                           <div class="mail-type"><i class="icon-mail-outline"></i></div>
                           <div class="mail-details">
                              <div class="block-id"> 2405454</div>
                              <div class="block-name">Debra Lucas</div>
                              <div class="block-info">
                                 <i class="icon-mail-outline pr-1"></i>
                                 Carol Reyes <span class="dot">.</span> created 20 mins ago
                              </div>

                              <div class="assign-to"><span class="icon-assign-outline pr-1"> </span>
                                 <span class="name-assign">Assign to : Credit Card - Amit Patil</span>
                              </div>
                           </div>
                        </div>
                     </li>
                   

                  </ul>
               </div>
               <div id="All" class="tab-pane">
                  <ul class="mail-list">
                     <li class="new-mail">
                        <div class="mail-info"><span class="date gray">11:25:20 PM</span>
                           <!-- <a class="mail-action"><i
                                 class="icon-more-dots"></i></a> -->
                              </div>
                        <div class="mail-block">
                           <div class="mail-type"><i class="icon-mail-outline"></i></div>
                           <div class="mail-details">
                              <div class="block-id"> 2405454</div>
                              <div class="block-name">Debra Lucas</div>
                              <div class="block-info">
                                 <i class="icon-mail-outline pr-1"></i>
                                 Carol Reyes <span class="dot">.</span> created 20 mins ago
                              </div>

                              <div class="assign-to"><span class="icon-assign-outline pr-1"> </span>
                                 <span class="name-assign">Assign to : Credit Card - Amit Patil</span>
                              </div>
                           </div>
                        </div>
                     </li>
                  

                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>