// .form_to_rly {
// 	margin-top: 25px;
// 	.floating-label {
// 		position: relative;
// 		margin-bottom: 20px;
// 	}
// 	.floating-input {
// 		display: block;
// 		width: 100%;
// 		background-color: transparent;
// 		border: 1px solid #ececec;
// 		color: #5f5f5f;
// 		border-radius: 8px;
// 		background-color: white;
// 		border-radius: 4px;
// 		// height: 40px;
// 		font-size: 16px;
// 		padding: 0.375rem 0.75rem;
// 		&:focus {
// 			outline: none;
// 			~ {
// 				label {
// 					top: -12px;
// 					font-size: 16px;
// 					left: 10px;
// 					background-color: #fff;
// 				}
// 			}
// 		}
// 		&:not(:placeholder-shown) {
// 			~ {
// 				label {
// 					top: -12px;
// 					font-size: 16px;
// 					left: 10px;
// 					color: #5f5f5f;
// 					background-color: #fff;
// 				}
// 			}
// 		}
// 	}

// 	label {
// 		color: #5f5f5f;
// 		font-size: 14px;
// 		font-weight: normal;
// 		position: absolute;
// 		pointer-events: none;
// 		left: 10px;
// 		top: 8px;
// 		transition: 0.2s ease all;
// 		-moz-transition: 0.2s ease all;
// 		-webkit-transition: 0.2s ease all;
// 	}
// 	.btn_rly_mail {
// 		display: flex;
// 		align-items: center;
// 		button {
// 			outline: none;
// 			border: none;
// 			background-color: transparent;
// 			// &:hover{
// 			// 	box-shadow: none;
// 			// }
// 		}
// 		.btn_discard {
// 			padding: 6px 30px;
// 			font-size: 14px;
// 			border: 1px solid #b4b4b4;
// 			border-radius: 4px;
// 			margin-right: 20px;
// 		}
// 		.btn_send {
// 			padding: 6px 30px;
// 			color: #fff;
// 			font-size: 14px;
// 			border: 1px solid #053c6d;
// 			border-radius: 4px;
// 			margin-right: 40px;
// 			background-color: #053c6d;
// 		}
// 	}
// }

// .case-actiob-btn {
// 	display: flex;
//     align-items: center;
//     justify-content: space-around;
// 	.btn-cases {
// 		padding: 0.3rem 0rem;
// 		margin-bottom: -1px;
// 		background-color: #fff;
// 		border: 1px solid rgba(0, 0, 0, 0.125);
// 		box-shadow: 0px 1px 3px #0000001a;
// 		border-radius: 6px !important;
// 		margin-bottom: 0;
// 		margin-right: 6px;
// 		width: 18.5%;
// 		img{
// 			padding-right: 10px;
// 		}
// 		// &:hover{
// 		// 	background-color: #053c6d;
// 		// 	border: 1px solid #053c6d;
// 		// 	color: #fff;
// 		// }
// 	}
// }

// .case-details{
// 	.case-dtl{
// 		display: flex;
// 		align-items: center;
// 		justify-content: space-around;
// 	}
// }

.make-blur
{
	filter: blur(4px);
}

.case-middle-section{
    .middle-panel{
        .case-details {
            padding: 15px 0px;
            .case-dtl{
                display: flex;
                align-items: center;
                justify-content: space-around;
                .status {
                    color: var(--theme_bg_blue);
                    font-size: 12px;
                    font-weight: 700;
                    margin-left: 7px;
                }
                .caseid{
                    color:var(--theme_input_color);
                    font-size: 12px;
                    .casenumber{
                        font-weight: 600;
                        color: #212121;
                    }

                }
            }
        }
		.case-actiob-btn {
			display: flex;
			align-items: center;
			justify-content: space-around;
			.btn-cases {
				padding: 0.3rem 0rem;
				margin-bottom: -1px;
				background-color: var(--white_color);
				// border: 1px solid rgba(0, 0, 0, 0.125);
				border: 1px solid var(--button_border);
				box-shadow: 0px 1px 3px var(--box_shadow);
				border-radius: 4px;
				margin-bottom: 0;
				margin-right: 6px;
				width: 18.5%;
				font-size: 14px;
				img{
					padding-right: 10px;
				}
				// &:hover{
				// 	background-color: #053c6d;
				// 	border: 1px solid #053c6d;
				// 	color: #fff;
				// }
			}
		}
		.mid-content {
			background-color: var(--white_color);
			/* height: auto; */
			overflow-y: auto;
			margin-bottom: 15px;
			box-shadow: 0px 2px 3px var(--box_shadow);
			border-radius: 15px;
			/* margin-top: 20px; */
			position: absolute;
			width: 98%;
			bottom: 0;
			// top: 90px;
			top: 100px;
			.mail-content {
				padding: 20px;
				.gray {
					color: var(--theme_input_color);
					font-weight: normal;
					font-size: 14px;
				}
				.more {
					margin-left: 15px;
				}
				.clear {
					width: 100%;
					clear: both;
					height: 0px;
				}
				.case-mail {
					margin: 0;
					border-bottom: 1px solid var(--nabar_border);
					.mail-detail {
						margin: 0;
						display: flex;
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: start;
						-ms-flex-align: start;
						align-items: flex-start;
						.case-profile {
							margin-right: 10px;
							width: 31px;
						}
						.top {
							position: relative;
							top: -5px;
							.x4 {
								font-size: 18px;
							}
							.case-subject {
								margin-bottom: 0px;
								color: var(--theme_black);
								font-size: 14px;
								font-weight: 700;
							}
							.x2 {
								font-size: 14px;
							}                        
							.case-info {
								font-size: 12px;
								font-weight: normal;
								color: var(--theme_input_color);
								margin-bottom: 6px;
								font-size: 14px;
								.blue {
									color: var(--theme_bg_blue);
									font-size: 14px;
									margin-left: 5px;
								}
							}
						}
					}
					.case-body {
						font-size: 14px;
						padding-left: 40px;
						.case-attachment {
							margin-top: 20px;
							span{
								padding: 10px 20px 10px 0px;
							}
						}
						.case-reply{
							span {
								padding: 15px 20px 10px 0px;
								cursor: pointer;
							}
						} 
					}
				}
			}
		}
    }
   
}

@media only screen and (max-width:767px){
	.case-middle-section{
		display: none;
	}
}