<div class="case-details">
    <p class="assign-to text-center">
        <span class="status">Open</span> <span style="padding:0px 8px">Case ID<strong> :</strong>
        </span> <span style="padding:0px 8px">Created On<strong> : </strong>
        </span> <span style="padding:0px 8px">Last Updated On<strong> :</strong>
        </span>
    </p>
</div>
<div class="case-action">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><img src="/assets/images/assign.png" /> Assign To Me</li>
        <li class="list-group-item"><img src="/assets/images/Notes.png" /> Notes</li>
        <li class="list-group-item"><img src="/assets/images/Close.png" /> Close</li>
        <li class="list-group-item"><img src="/assets/images/spam.png" /> Spam</li>
        <li class="list-group-item"><img src="/assets/images/Block.png" /> Block</li>
    </ul>
</div>
<div class="mid-content">
    <div class="mail-content" *ngFor="let inxHistory of caseInteractions">        
        <span class="gray float-right">{{inxHistory.CreatedDate}} <span class="more"> <img
                    src="/assets/images/more.png" /></span> </span>
        <div class="clear"></div>
        <div class="case-mail">
            <div class="mail-detail d-flex">
                <img src="/assets/images/case pic3.png" class="case-profile" />
                <div class="media-subject top flex-wrap">
                    <p class="case-subject x4">
                        {{inxHistory.Subject}}
                    </p>
                    <p class="case-info x2">
                        <img src="/assets/images/mail.png" style="vertical-align: baseline;" /> 
                        <!-- <span class="blue">Carol Reyes</span> Reported in issue -->
                    </p>
                </div>
            </div>
            <div class="case-body">
                <span [innerHTML]="inxHistory.InteractionDesc">                   
                </span>
                <div class="case-attachment d-flex">
                    <span><img src="/assets/images/attachment.png" /></span>
                    <span><img src="/assets/images/attachment.png" /></span>
                    <span><img src="/assets/images/attachment.png" /></span>
                </div>
                <div class="case-reply d-flex">
                    <span><img src="/assets/images/reply.png" /> Reply</span>
                    <span><img src="/assets/images/reply all.png" /> Reply to All</span>
                </div>
            </div>
        </div>
    </div>
    
</div>