// .navbar {
//     padding: 8px 10px;
//     background: #fff;
//     border: none;
//     border-radius: 0;
//     margin-bottom: 0px;
//     border-bottom: 0px solid #ececec;
//     box-shadow: 0px 2px 3px #0000001a;
//     .page-heading {
//         font-size: 25px;
//         color: #053c6d;
//         font-weight: bold;
//         margin-left: 10px;
//         position: absolute;
//         left: 65px;
//     }
//     .navbar-collapse {
//         .searchboxwrapper {
//             position: relative;
//             right: 10px;
//             input.search-input {
//                 height: 35px;
//                 font-size: 16px;
//                 padding: 3px 15px;
//                 width: 100% !important;
//                 &::placeholder{
//                     color: #5F5F5F !important;
//                     font-size: 16px;
//                 }
//             }
//             .searchsubmit {
//                 width: 29px;
//                 height: 22px;
//                 border: 1px solid #dadada;
//                 font-size: 12px;
//                 position: absolute;
//                 top: 9px;
//                 right: 4px;
//                 background: transparent;
//                 border: none;
//                 // color: #5d3250;
//                 cursor: pointer;
//                 background-image: url("/assets/images/search.png");
//                 background-repeat: no-repeat;
//             }
//         }
//         .navbar-nav {
//             li {
//                 .add-item-drpdown {
//                     .btnadd {
//                         img {
//                             transition: 0.2s all ease-in;
//                         }
//                         &:focus,
//                         &:hover {
//                             box-shadow: none;
//                             outline: none;
//                         }
//                     }
//                     .add-drpmenu {
//                         background-color: #fff;
//                         position: absolute;
//                         box-shadow: 0px 3px 6px #00000029;
//                         border-radius: 15px;
//                         border: 1px solid #f8f8f8;
//                         .add-menus {
//                             padding: 10px 15px;
//                             &:hover {
//                                 background-color: #ddd;
//                             }
//                         }
//                     }
//                 }
//                 .add-item-drpdown.show {
//                     .btnadd {
//                         img {
//                             transform: rotate(45deg);
//                             transition: 0.2s all ease-in;
//                         }
//                     }
//                 }
//                 .notify {
//                     position: relative;
//                     .notification-count {
//                         background: var(--theme_blue);
//                         border-radius: 50%;
//                         padding: 3px;
//                         color: white;
//                         font-size: 10px;
//                         position: absolute;
//                         width: 22px;
//                         height: 22px;
//                         text-align: center;
//                         right: 4px;
//                         top: 11px;
//                     }
//                 }
//                 .profile-pic {
//                     width: 40px;
//                     height: 40px;
//                     border-radius: 30px;
//                     box-shadow: 0px 3px 3px 0px #dcdcdc;
//                     background-image: url("/assets/images/profile pic.jpg");
//                     position: relative;
//                     .online-sign {
//                         background-color: rgb(36, 230, 36);
//                         height: 10px;
//                         width: 10px;
//                         border-radius: 50%;
//                         position: absolute;
//                         bottom: 0px;
//                         left: 50%;
//                         transform: translate(-4px, 5px);
//                     }
//                 }
//             }
//         }
//     }
// }
// .fixed-top {
//     position: fixed;
//     top: 0;
//     right: 0;
//     left: 0;
//     z-index: 1030;
// }




.header {
    .navbar {
        padding: 8px 10px;
        background: var(--white_color);
        border: none;
        border-radius: 0;
        margin-bottom: 0px;
        border-bottom: 0px solid var(--nabar_border);
        box-shadow: 0px 2px 3px var(--box_shadow);
        .page-heading {
            font-size: 25px;
            color: var(--theme_bg_blue);
            font-weight: bold;
            margin-left: 10px;
            position: absolute;
            left: 65px;
            
        }
        .navbar-collapse {
            .searchboxwrapper {
                position: relative;
                right: 10px;
                input.search-input {
                    height: 35px;
                    font-size: 16px;
                    padding: 3px 15px;
                    width: 100%;
                    border-radius: 30px;
                    background: var(--search_input_bg);
                    border: 1px solid var(--search_input_bg);
                    &::placeholder {
                        color: var(--theme_input_color);
                        font-size: 16px;
                    }
                    &:focus {
                        outline: none;
                        box-shadow: none;
                        background-color: var(--white_color);
                        border: 1px solid var(--search_input_bg);
                        font-family: Calibri;
                    }
                }
                .searchsubmit {
                    width: 29px;
                    height: 22px;
                    font-size: 12px;
                    position: absolute;
                    top: 9px;
                    right: 4px;
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    background-image: url("/assets/images/search.png");
                    background-repeat: no-repeat;
                }
            }
            .navbar-nav {
                align-items: center;
                li {
                    .add-item-drpdown {
                        .btnadd {
                            img {
                                transition: 0.2s all ease-in;
                            }
                            &:focus,
                            &:hover {
                                box-shadow: none;
                                outline: none;
                            }
                        }
                        .add-drpmenu {
                            background-color: var(--white_color);
                            position: absolute;
                            // box-shadow: 0px 3px 6px #00000029;
                            box-shadow: 0px 3px 6px var(--box_shadow);
                            border-radius: 15px;
                            border: 1px solid var(--theme_bg_color);
                            .add-menus {
                                padding: 10px 15px;
                                &:hover {
                                    background-color: var(--theme_bg_color);
                                }
                                a {
                                    color: #000000;
                                    font-size: 14px;
                                    svg {
                                        margin-right: 4px;
                                    }
                                }
                            }
                        }
                    }
                    .add-item-drpdown.show {
                        .btnadd {
                            img {
                                transform: rotate(45deg);
                                transition: 0.2s all ease-in;
                            }
                        }
                    }
                    .notify {
                        position: relative;
                        .notification-count {
                            background: var(--theme_bg_blue);
                            border-radius: 50%;
                            padding: 3px;
                            color: var(--white_color);
                            font-size: 10px;
                            position: absolute;
                            width: 22px;
                            height: 22px;
                            text-align: center;
                            right: 4px;
                            top: 11px;
                        }
                        .margin-top-7 {
                            margin-top: 7px;
                        }
                    }
                    .profile-pic {
                        width: 40px;
                        height: 40px;
                        border-radius: 30px;
                        box-shadow: 0px 3px 3px 0px var(--light_boxshadow);
                        background-image: url("/assets/images/profile_pic.jpg");
                        position: relative;
                        .online-sign {
                            background-color: var(--theme_green);
                            height: 10px;
                            width: 10px;
                            border-radius: 50%;
                            position: absolute;
                            bottom: 0px;
                            left: 50%;
                            transform: translate(-4px, 5px);
                        }
                    }
                }
                a.nav-link {
                    padding: 0.5rem 15px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        .navbar {
            .navbar-brand {
                display: none;
            }
            .page-heading {
                left: unset;
            }
            .navbar-collapse {
                display: block;
                float: right;
                #search-box {
                    float: left;
                    width: 97px;
                    display: none;
                }
                .navbar-nav {
                    float: right;
                    flex-direction: inherit;
                    .nav-item {
                        float: left;
                    }
                }
            }
        }
    }
}
