.navbar {
    padding: 8px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    border-bottom: 0px solid #ececec;
    box-shadow: 0px 2px 3px #0000001a;
    .page-heading {
        font-size: 23px;
        color: #053c6d;
        font-weight: bold;
        margin-left: 10px;
        position: absolute;
        left: 65px;
    }
    .navbar-collapse {
        .searchboxwrapper {
            position: relative;
            right: 10px;
            input.search-input {
                height: 35px;
                font-size: 16px;
                padding: 3px 15px;
                width: 100% !important;
            }
            .searchsubmit {
                width: 29px;
                height: 22px;
                border: 1px solid #dadada;
                font-size: 12px;
                position: absolute;
                top: 9px;
                right: 4px;
                background: transparent;
                border: none;
                color: #5d3250;
                cursor: pointer;
                background-image: url("/assets/images/search.png");
                background-repeat: no-repeat;
            }
        }
        .navbar-nav {
            a.nav-link {
                padding: 0.5rem 15px;
                .add-btn {
                    background-color: #053c6d;
                    color: white;
                    width: 26px;
                    height: 26px;
                    border-radius: 34px;
                    font-size: 30px;
                    text-align: center;
                    line-height: 0.9;
                    font-weight: bold;
                    margin-top: 6px;
                    border: 0;
                    position: relative;
                    display: block;
                    span {
                        &:first-child {
                            top: 12px;
                        }
                        &:last-child {
                            top: 6px;
                            height: 14px;
                            width: 2px;
                            left: 12px;
                        }
                    }
                }
                // .add-btn.icon--transparent {
                //     background-color: transparent;
                //     span{
                //         background-color: #ffffff;
                //     }
                // }
            }
            .add-div {
                background-color: #fff;
                width: 150px;
                height: 92px;
                position: absolute;
                display: none;
                right: 61px;
                top: 60px;
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 15px;
                padding: 15px;
                border: 1px solid #f8f8f8;
                .add-new{
                    list-style: none;
                    padding-left: 0;
                    color: #333333;
                    font-size: 14px;
                    li {
                        padding-bottom: 15px;
                        svg {
                            vertical-align: middle;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
