

// // ng structure LD_code start

// .rem_padd {
//     padding-left: 0px;
//     padding-right: 0px;
//     .user-login {
//         background-color: var( --theme_bg_gray);
//         height: 100vh;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         .txt-login {
//             color: var( --dark_gray);
//             font-size: 20px;
//             padding-top: 30px;
//         }
//     }
//     .frtpass_sec {
//         background-color: var(--white);
//         height: 100vh;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         .login-ttl > h1 {
//             font-size: 25px;
//         }
//         .login > h1 {
//             font-size: 39px;
//         }
//         .login-btn {
//             background-color: var (--theme_blue);
//             color: var(--white);
//             text-align: center;
//             padding: 7px;
//             border-radius: 0.25rem !important;
//             cursor: pointer;
//             border: 0;
//             width: 100%;
//             margin-top: 25px;
//             font-size: 16px;
//             display: block;
//             &:focus {
//                 color: var(--white);
//                 text-decoration: none;
//                 outline: 1px dotted;
//                 outline: 0;
//                 box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
//             }
//             &:hover {
//                 color: var(--white);
//                 text-decoration: none;
//                 outline: 1px dotted;
//                 outline: 0;
//                 box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
//             }
//         }
//         .frtlogin_sec {
//             display: block;
//             .login {
//                 .logo {
//                     text-align: center;
//                 }
//                 h1 {
//                     color: var (--theme_blue);
//                     text-align: center;
//                     text-transform: uppercase;
//                     font-size: 41px;
//                     font-weight: 700;
//                     margin: 25px 0 45px 0;
//                 }
//                 .icon-left {
//                     margin-bottom: 15px;
//                     span {
//                         position: absolute;
//                         top: 8px;
//                         left: 11px;
//                         font-size: 21px;
                        
//                         color: var( --placeholder);
//                         z-index: 111;
//                     }
//                     .form-control {
//                         background-color: var(--white);
//                         border-radius: 4px;
//                         height: 38px;
//                         border: 1px solid var( --input_border) !important;
//                         font-size: 16px;
                      
//                         width: 220px !important;
//                         color: var( --theme_blue);
//                     }

//                     .rounded {
//                         padding: 3px 5px 3px 39px !important;
//                     }
//                 }

//                 .forgot-password {
//                     color: var (--black);
//                     font-size: 14px;
//                     text-align: center;
//                     display: block;
//                     margin-top: 55px;
//                     text-decoration: underline;
//                     font-weight: 600;
//                 }
//             }
//         }
//         .send-otp {
//             display: none;
//             .inp_filed {
//                 .form-control .rem_rad_border {
//                     border-radius: 4px !important;
//                     border: 1px solid var( --input_border) !important;
//                 }
//             }
//         }
//         .otp_sec {
//             display: none;
//             .otp_inputs {
//                 width: 50px;
//                 height: 40px;
//                 line-height: 50px;
//                 text-align: center;
//                 font-size: 24px;
//                 font-weight: 200;
//                 margin: 0 2px;
//                 border: 1px solid var( --input_border);
//                 border-radius: 4px;
//                 font-size: 14px;
//                 color: var(--placeholder);
//                 &:focus {
//                     outline: none;
//                 }
//             }
//         }
//         .setnewpass_sec {
//             display: none;
//             .cross-icon {
//                 fill: var(--placeholder);
//                 position: absolute;
//                 right: 50px;
//                 top: 30px;
//             }
//         }
//         .cmny_code {
//             color: var( --theme_red);
//             font-size: 14px;
//             letter-spacing: 0px;
//             opacity: 1;
//             position: absolute;
//             bottom: 20px;
//         }
//     }
// }


// @media only screen and (max-width: 992px) {
//     .rem_padd {
//         .mob_hidesec {
//             display: none;
//         }
//     }
// }



.unlink_loginsec {
    // overflow: hidden;
    .unlink_loginimg {
        background-color: var(--theme_bg_color);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .unlink_login_white {
        background-color: var(--white_color);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .unlink_login_me {
            .unlink_title {
                color: var(--theme_bg_blue);
                text-transform: uppercase;
                text-align: center;
                font-weight: bold;
                font-size: 39px;
                margin: 25px 0 65px 0;
            }
            .unlink_inputs {
                .unlink_formgroup {
                    margin-bottom: 20px;
                    position: relative;
                    i {
                        position: absolute;
                        z-index: 2;
                        display: block;
                        width: 2.375rem;
                        height: 2.375rem;
                        line-height: 2.375rem;
                        text-align: center;
                        pointer-events: none;
                        color: #aaa;
                    }
                    .unlink_showpass {
                        position: absolute;
                        right: 3px;
                        top: 12px;
                        z-index: 2;
                        width: 2.375rem;
                        // height: 2.375rem;
                        line-height: 2.375rem;
                        text-align: center;
                        pointer-events: none;
                        color: #aaa;
                    }
                    .form-control {
                        padding-left: 30px;
                        padding-right: 30px;
                        border: 1px solid var(--theme_input_border);
                        font-size: 14px;
                        color: var(--theme_bg_blue);
                        &:focus {
                            outline: none;
                            box-shadow: none;
                            border-color: none;
                        }
                        &::placeholder {
                            font-size: 12px;
                            color: var(--theme_palceholder);
                        }
                    }
                }
            }
            .unlink_frgtpass {
                color: var(--btn_link);
                font-size: 14px;
                text-decoration: underline;
            }
        }

        .unlink_forget_pass {
            .unlink_crossicon {
                position: absolute;
                top: 30px;
                right: 36px;
            }
            .unlink_title_frtpass {
                color: var(--theme_bg_blue);
                text-transform: capitalize;
                text-align: center;
                font-weight: bold;
                font-size: 30px;
                margin: 25px 0 30px 0;
            }
            .unlink_inputs {
                .unlink_formgroup {
                    margin-bottom: 5px;
                    position: relative;
                    i {
                        position: absolute;
                        z-index: 2;
                        display: block;
                        width: 2.375rem;
                        height: 2.375rem;
                        line-height: 2.375rem;
                        text-align: center;
                        pointer-events: none;
                        color: #aaa;
                    }
                    .unlink_showpass {
                        position: absolute;
                        right: 3px;
                        top: -2px;
                        z-index: 2;
                        width: 2.375rem;
                        height: 2.375rem;
                        line-height: 2.375rem;
                        text-align: center;
                        pointer-events: none;
                        color: #aaa;
                    }
                    .form-control {
                        // padding-left: 30px;
                        // padding-right: 30px;
                        border: 1px solid var(--theme_input_border);
                        font-size: 14px;
                        color: var(--theme_input_color);
                        &:focus {
                            outline: none;
                            box-shadow: none;
                            border-color: none;
                        }
                        &::placeholder {
                            font-size: 12px;
                            color: var(--theme_palceholder);
                        }
                    }
                    .otp_inputs {
                        width: 50px;
                        height: 40px;
                        line-height: 50px;
                        text-align: center;
                        font-size: 24px;
                        font-weight: 200;
                        margin: 0 2px;
                        border: 1px solid var(--theme_input_border);
                        border-radius: 4px;
                        font-size: 14px;
                        color: var(--theme_input_color);
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
        .unlink_cmnycode {
            position: absolute;
            bottom: 20px;
            .unlink_code {
                color: var(--theme_red);
                font-size: 12px;
            }
        }
    }
}

@media only screen and(max-width:767px) {
    .unlink_loginsec {
        .unlink_mobhide {
            display: none;
        }
    }
}

