<div class="row">
  <div class="col-lg-7">
    <div class="img-container">
      <img src="/assets/images/login-img.png" class="img-center img-fluid" />
    </div>
  </div>
  <div class="col-lg-5">
    <div class="login-panel">
      <div class="logo">
        <img src="/assets/images/U Logo login.png" class="logo" />
      </div>
      <h1>Unfyd Link</h1>

      <div class="input-group icon-left">
        <input class="form-control rounded" type="text" placeholder="Username" autocomplete=off 
        name="userEmail" [(ngModel)]="userEmail">
        <span class="material-icons">
          perm_identity
        </span>
      </div>
      <div class="input-group icon-left">
        <input class="form-control rounded" type="password" placeholder="Password" autocomplete=off
        name="userPassword" [(ngModel)]="userPassword">
        <span class="material-icons">
          https
        </span>
      </div>
      
      <input type="button" class="login-btn" value="LOGIN" (click)="performAuth()">
      <a href="#" class="forgot-password">Forgot Password</a>
    </div>
  </div>
</div>