<div class="rightSlidePanel column-slide-panel web-engagement-panel">
    <div class="panel-header">
        <h4>Agent Web Engagement</h4>
        <div class="close-btn"><i (click)="closePanel()" class="icon-cancel"></i></div>
    </div>
    <div class="panel-body">
        <div>
            <div class="web-data">
                <label for="" >Browser Name :</label>
                <span> Chrome</span>
            </div>
            <div class="web-data">
                <label for="" >BFed-ID : </label>
                <span> Anusaya</span>
            </div>
            <div class="web-data">
                <label for="" >Browser Name :</label>
                <span> Chrome</span>
            </div>
            <div class="web-data">
                <label for="" >Browser Vision : </label>
                <span> 90.04430.212</span>
            </div>
            <div class="web-data">
                <label for="" >OS Details : </label>
                <span> Windows 10</span>
            </div>
            <div class="web-data">
                <label for="" >Latitude : </label>
                <span> 85.8056156</span>
            </div>
        </div>

        <div class="web-icon-data">
            <div class="items" >
                <i class="icon-cases"></i>
                <p class="title">Cases</p>
                <p class="sub-title" >2 Clicks</p>
            </div>
            <div class="items" >
                <i class="icon-client"></i>
                <p class="title">Contacts</p>
                <p class="sub-title" >2 Clicks</p>
            </div>
            <div class="items" >
                <i class="icon-report"></i>
                <p class="title">Reports</p>
                <p class="sub-title" >2 Clicks</p>
                
            </div>
            <div class="items">
                <i class="icon-information"></i>
                <p class="title">KM</p>
                <p class="sub-title" >2 Clicks</p>
            </div>
        </div>
    </div>
</div>