<!-- <div class="content-side" style="overflow-y:auto">
    <div class="d-flex justify-content-between">
        <h5 class="content-title">Top Performer</h5>
    </div>
    <div class="wrapper">
        <input type="radio" name="slider" checked id="home">
        <input type="radio" name="slider" id="blog">
        <nav>
            <label for="home" class="home">Weekly</label>
            <label for="blog" class="blog">Monthly</label>
            <div class="slider"></div>
        </nav>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">Employee</th>
                    <th scope="col">Cases</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <img src="/assets/images/pic1.png" />
                    </td>
                    <td>Jerry Reyes</td>
                    <td class="blue">143</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <img src="/assets/images/pic2.png" />
                    </td>
                    <td>Louis Baker</td>
                    <td class="blue">235</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <img src="/assets/images/pic1.png" />
                    </td>
                    <td>Philip Wallace</td>
                    <td class="blue">24</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        <img src="/assets/images/pic2.png" />
                    </td>
                    <td>Ethan Gordon</td>
                    <td class="blue">314</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>
                        <img src="/assets/images/pic1.png" />
                    </td>
                    <td>Carmen Fuller</td>
                    <td class="blue">223</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->






<div>
    <div class="d-flex justify-content-between">
        <h5 class="content-title">Top Performer</h5>
    </div>
    <div class="wrapper">
        <input type="radio" name="slider" checked id="home">
        <input type="radio" name="slider" id="blog">
        <nav>
            <label for="home" class="home">Weekly</label>
            <label for="blog" class="blog">Monthly</label>
            <div class="slider"></div>
        </nav>
    </div>
    <div class="table-responsive">
        <table class="table table-hover head-center">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">Employee</th>
                    <th scope="col">Cases</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <img src="/assets/images/pic1.png" />
                    </td>
                    <td>Jerry Reyes</td>
                    <td class="blue">143</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <img src="/assets/images/pic2.png" />
                    </td>
                    <td>Louis Baker</td>
                    <td class="blue">235</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <img src="/assets/images/pic1.png" />
                    </td>
                    <td>Philip Wallace</td>
                    <td class="blue">24</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        <img src="/assets/images/pic2.png" />
                    </td>
                    <td>Ethan Gordon</td>
                    <td class="blue">314</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>
                        <img src="/assets/images/pic1.png" />
                    </td>
                    <td>Carmen Fuller</td>
                    <td class="blue">223</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>
                        <img src="/assets/images/pic1.png" />
                    </td>
                    <td>Jerry Reyes</td>
                    <td class="blue">143</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>
                        <img src="/assets/images/pic2.png" />
                    </td>
                    <td>Louis Baker</td>
                    <td class="blue">235</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>
                        <img src="/assets/images/pic1.png" />
                    </td>
                    <td>Philip Wallace</td>
                    <td class="blue">24</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>
                        <img src="/assets/images/pic2.png" />
                    </td>
                    <td>Ethan Gordon</td>
                    <td class="blue">314</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>
                        <img src="/assets/images/pic1.png" />
                    </td>
                    <td>Carmen Fuller</td>
                    <td class="blue">223</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>
                        <img src="/assets/images/pic1.png" />
                    </td>
                    <td>Jerry Reyes</td>
                    <td class="blue">143</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>
                        <img src="/assets/images/pic2.png" />
                    </td>
                    <td>Louis Baker</td>
                    <td class="blue">235</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>
                        <img src="/assets/images/pic1.png" />
                    </td>
                    <td>Philip Wallace</td>
                    <td class="blue">24</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>
                        <img src="/assets/images/pic2.png" />
                    </td>
                    <td>Ethan Gordon</td>
                    <td class="blue">314</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>
                        <img src="/assets/images/pic1.png" />
                    </td>
                    <td>Carmen Fuller</td>
                    <td class="blue">223</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>