<!-- <div class="unlink_clients_filters">
    <div class="row">
        <div class="col-6">
            <div class="dropdown cust-case-drpdwn">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    selectedCaseOption
                </button>
                <div class="dropdown-menu case-drpmenu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">abc</a>
                    <a class="dropdown-item">aaa</a>
                    <a class="dropdown-item">aaa</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <form [ngClass]="IsToggleSearchBoxOpen ? 'searchbox searchbox-open' : 'searchbox'">
                        <input type="text" autocomplete="off" placeholder="Search." name="txtCaseSearch"
                            class="searchbox-input">
                        <input type="submit" class="searchbox-submit" value="">
                        <span class="searchbox-icon" (click)="toggleSearchBox()">
                            <img src="assets/images/svg/search.svg" alt="search" style="vertical-align: middle;" />
                        </span>
                    </form>
                </li>
                <li class="list-inline-item">
                    <button> <i class="icon-more-dots"></i></button>

                 
                </li>
            </ul>
        </div>
    </div>
</div> -->
<div class="filter-area">
    <div class="filters-nav">
        <div class="dropdown custom-dropdown blue-dropdown" *ngIf="!collaborateFilter">
           <div *ngIf="clientMenuAccessModule">
            <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">
                <label>Customer</label>
            </a>
            <ul class="dropdown-menu full-dropdown" aria-labelledby="dropdownMenu1">
                <li><a  *ngFor="let client of arrClientOption" >{{client.value}}</a></li>
            </ul>
        </div>
        </div>
        <div class="icon-btns">
            <div  *ngIf="clientSearchbarAccessModule"><a (click)="toggleSearch()" [class.toggled]="searchShow"><i class="icon-search"></i></a></div>
            <div><a><i class="icon-more-dots"></i></a></div>
        </div>
    </div>
    <ng-container *ngIf="searchShow">
        <div class="search-panel">
            <div class="form-group" >
                <input type="search" class="form-control" placeholder="Search" />
                <button (click)="toggleSearch()" class="btn" type="btn"><i class="icon-search"></i></button>
            </div>
        </div>
    </ng-container>
</div>