<div class="">
    <div class="tab-pane " id="contact-info" role="tabpanel" aria-labelledby="contact-tab">
        <app-contact-info [selectedCaseId]="selectedCaseId"></app-contact-info>
    </div>

    <!-- d-none -->
    <div class="tab-pane d-none" id="case-info" role="tabpanel" aria-labelledby="profile-tab">
        <div class="case-div-bottom">
            <div class="head-title d-flex justify-content-between">
                <h5 class="content-title">Case Info</h5>
                <a href="" class="more-btn">More Details ></a>
            </div>

            <div class="table-responsive tbl-caseinfo">
                <table class="table table-hover font-2x">
                    <tbody>
                        <tr>
                            <td class="tbl-fileds">Status</td>
                            <td class="blue text-right"><strong>
                                    <div class="dropdown caseifo-status-drpdown">
                                        <button class="btn btn-caseinfo-add" type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{caseInfo.Status}}
                                            <i class="icon-down-arrow"></i>

                                        </button>

                                        <div class="dropdown-menu case-drpmenu" aria-labelledby="dropdownMenuButton">
                                            <div class="case-menus">
                                                <button class="csmenu" (click)="openVerticallyCentered(content)">
                                                    Open</button>
                                                <!-- <a href="#" id="show-new-cases" (click)="openVerticallyCentered(content)">                                                   
                                                   Open
                                                </a> -->
                                            </div>
                                            <div class="case-menus">
                                                <button class="csmenu" (click)="openVerticallyCentered(content)">
                                                    Close</button>
                                                <!-- <a href="#" id="show-new-contact">
                                                    Close
                                                </a> -->
                                            </div>
                                            <div class="case-menus">
                                                <button class="csmenu" (click)="openVerticallyCentered(content)">
                                                    Pending</button>
                                                <!-- <a href="#" id="show-new-contact">
                                                    Pending
                                                </a> -->
                                            </div>
                                            <div class="case-menus">
                                                <button class="csmenu" (click)="openVerticallyCentered(content)">
                                                    Hold</button>
                                                <!-- <a href="#" id="show-new-contact">
                                                    Hold
                                                </a> -->
                                            </div>

                                        </div>
                                    </div>
                                </strong> </td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Priority</td>
                            <td class="red text-right"><strong>{{caseInfo.Priority}}</strong>
                                <i class="icon-down-arrow"></i>
                                <!-- <svg
                                    xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px"
                                    fill="#ff0000">
                                    <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                                    <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" />
                                </svg> -->
                            </td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Assign To Team</td>
                            <td class="text-right"><strong>{{caseInfo.AssignedToTeamName}}</strong>
                                <i class="icon-down-arrow"></i>
                                <!-- <svg
                                    xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px"
                                    fill="#5F5F5F">
                                    <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                                    <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" />
                                </svg> -->

                            </td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Assign To Agent</td>
                            <td class="text-right"><strong>{{caseInfo.AssignedToAgentName}}</strong>
                                <i class="icon-down-arrow"></i>
                                <!-- <svg
                                    xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="16px"
                                    fill="#5F5F5F">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
                                </svg> -->
                            </td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Case ID</td>
                            <td class="text-right"><strong>{{caseInfo.CaseID}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Created On</td>
                            <td class="text-right"><strong>{{caseInfo.CreatedDate}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Case Type</td>
                            <td class="text-right"><strong>{{caseInfo.CaseType}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Requested By</td>
                            <td class="text-right"><strong>{{caseInfo.RequestedByEmailId}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Source Id</td>
                            <td class="text-right"><strong>{{caseInfo.CaseSource}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Source Channel </td>
                            <td class="text-right"><strong>{{caseInfo.CaseSourceName}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Callback Request</td>
                            <td class="text-right"><strong>{{caseInfo.CallBackReq}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Escalation</td>
                            <td class="text-right"><strong>{{caseInfo.Escalation}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Junk</td>
                            <td class="text-right"><strong>{{caseInfo.Junk}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Remarks</td>
                            <td class="text-right"><strong>{{caseInfo.Remarks}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<ng-template #content let-modal>
    <div class="case-info-modal">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="caseinfo-modal-bdy">
                <h2 class="case-ttl">Are you sure? </h2>
                <p class="sub-ttl"> You want to change status</p>
            </div>
            <div class="case-modal-button">
                <div class="btn-no">
                    <button>
                        No
                    </button>
                </div>
                <div class="btn-yes">
                    <button>
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>