
                <div class="tab-title">
                    <h4>Past Cases</h4>
                    <div class="icons-link">
                        <div><a><i class="icon-picture"></i></a></div>
                        <div><a><i class="icon-reset"></i></a></div>
                        <div><a><i class="icon-filters"></i></a></div>
                    </div>
                </div>

                <div class="scroll-content">
                    <ul class="chain-listing">
                        <li *ngFor="let pc of pastCases"> 
                            <a>
                                <div class="icon"><i class="icon-appoinment"></i></div>
                                <div class="short-description">
                                    <span class="ticket-id">{{pc.CaseID}}</span>
                                    <h6>{{pc.Subject}}</h6>
                                    <span class="sub-title">{{pc.CreatedDate}}</span>
                                        <div class="status red">Status: {{pc.Status}}</div>
                                        <div class="status green">Priority: {{pc.Priority}}</div>
                                </div>
                            </a>
                        </li>
                    </ul>

                </div>








