<!-- Ld code start -->
<div class="row">
    <div class="col-6">
        <!-- <input (click)="callParent()" type="button" value="My All Cases" class="btn btn-sm wrap-drop"> -->
        <!-- <div class="wrap-drop" id="noble-gases">
            <span>My All Cases</span>
            <ul class="drop">
                <li class="disabled">My Cases</li>
                <li><a>Open(10)</a></li>
                <li><a>Close(03)</a></li>
                <li><a>In Progress(06)</a></li>
                <li><a>Not Responded(02)</a></li>
                <li><a>Fresh Cases(01)</a></li>
                <li class="disabled">All Cases</li>
                <li><a>Open(10)</a></li>
                <li><a>Close(03)</a></li>
                <li><a>In Progress(06)</a></li>
                <li><a>Not Responded(02)</a></li>
                <li><a>Fresh Cases(01)</a></li>
            </ul>
        </div> -->

        <div class="dropdown cust-case-drpdwn">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{selectedCaseOption}}
            </button>
            <div class="dropdown-menu case-drpmenu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" *ngFor="let C of arrCasesOption" (click)="goToCaseList(C.key)">{{C.value}}</a>
            </div>
        </div>

    </div>
    <div class="col-6">
        <ul class="list-inline">
            <li class="list-inline-item">
                <form [ngClass]="IsToggleSearchBoxOpen ? 'searchbox searchbox-open' : 'searchbox'">
                    <input type="text" [(ngModel)]="searchText" (keyup)="onCaseSearch($event)" autocomplete="off"
                        placeholder="Search." name="txtCaseSearch" class="searchbox-input">
                    <input type="submit" class="searchbox-submit" value="">
                    <span class="searchbox-icon" (click)="toggleSearchBox()">
                        <img src="assets/images/svg/case-search.svg" style="vertical-align: middle;" />
                    </span>
                </form>
            </li>

            <li class="list-inline-item">
                <div class="dropdown filter-menu-drpdwn">
                    <button class="btn btn-filter" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="assets/images/svg/filter1.svg" class="img-position" />
                        <!-- <img src="assets/images/svg/cross.svg" class="img-position" /> -->
                    </button>
                    <div class="dropdown-menu unlink_filter_list" aria-labelledby="dropdownMenuButton">
                        <p class="unlink_fit_ttl">Sort by</p>
                        <div class="sort-menus">
                            <button class="sortmenu">
                                <div class="filt_cross">
                                    <div>
                                        open
                                    </div>
                                    <div class="d-flex">
                                        <img src="assets/images/svg/filter1.svg" class="img-position" />

                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="sort-menus">
                            <button class="sortmenu">
                                Close</button>
                        </div>
                        <div class="sort-menus">
                            <button class="sortmenu">
                                Pending</button>
                        </div>
                        <div class="sort-menus">
                            <button class="sortmenu">
                                Hold</button>
                        </div>

                    </div>
                </div>
                <!-- <a href="#"><img src="assets/images/svg/filter1.svg" class="img-position filtermenu" /></a>   -->
            </li>
            <li class="list-inline-item">
                <div class="dropdown filter-menu-drpdwn">
                    <button class="btn btn-filter" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="assets/images/svg/filter2.svg" class="img-position" />
                        <!-- <img src="assets/images/svg/cross.svg" class="img-position" /> -->
                    </button>
                    <div class="dropdown-menu unlink_filter_list unlink_sortfilters"
                        aria-labelledby="dropdownMenuButton">
                        <p class="unlink_fit_ttl unlink_brder-btms">Filter</p>
                        <!-- <table class="table unlink_tble_filters">
                            <tbody>
                                <tr>
                                    <td class="unlink_frst_data">
                                        Created On
                                    </td>
                                    <td class="unlink_sec_data">Today</td>
                                    <td> <label class="">
                                            <input type="checkbox">
                                            <span class="checkmark right-check"></span>
                                        </label></td>
                                </tr>
                                <tr>
                                    <td class="unlink_frst_data">
                                        Status
                                    </td>
                                    <td class="unlink_sec_data">Last 8 hours</td>
                                    <td> <label class="">
                                            <input type="checkbox">
                                            <span class="checkmark right-check"></span>
                                        </label></td>
                                </tr>
                                <tr>
                                    <td class="unlink_frst_data">
                                        Routed to agent
                                    </td>
                                    <td class="unlink_sec_data">Last 30 days</td>
                                    <td> <label class="">
                                            <input type="checkbox">
                                            <span class="checkmark right-check"></span>
                                        </label></td>
                                </tr>
                                <tr>
                                    <td class="unlink_frst_data">
                                        Routed to Team
                                    </td>
                                    <td class="unlink_sec_data">Select time period <br />
                                        <input class="unlink_date" type="date" id="birthday" name="birthday">
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="unlink_frst_data">
                                        Last Ixn Date
                                    </td>                                   
                                </tr>
                                <tr>
                                    <td class="unlink_frst_data">
                                        Case Source
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="filter-buttons">
                            <div class="btnreset">
                                <button>Reset</button>
                            </div>
                            <div class="btnapply">
                                <button>Apply</button>
                            </div>
                        </div> -->
                        <div class="unlink_filterdrpdwn">
                            <div class="unlink_greybg">
                                <ul>
                                    <li class="active">Created On</li>
                                    <li>Status</li>
                                    <li>Routed to agent</li>
                                    <li>Routed to Team</li>
                                    <li>Last Ixn Date</li>
                                    <li>Case Source</li>
                                </ul>
                            </div>
                            <div class="unlink_bgwhite">
                                <div class="unlink_filter_check">
                                    <div class="unlink_filt_txt">
                                        today
                                    </div>
                                    <div class="unlink_check">
                                        <label class="">
                                            <input type="checkbox">
                                            <span class="checkmark right-check"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="unlink_filter_check">
                                    <div class="unlink_filt_txt">
                                        Last 8 hours
                                    </div>
                                    <div class="unlink_check">
                                        <label class="">
                                            <input type="checkbox">
                                            <span class="checkmark right-check"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="unlink_filter_check">
                                    <div class="unlink_filt_txt">
                                        Last 30 days
                                    </div>
                                    <div class="unlink_check">
                                        <label class="">
                                            <input type="checkbox">
                                            <span class="checkmark right-check"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="unlink_filter_check">
                                    <div class="unlink_filt_txt">
                                        Select time period
                                        <div>
                                            <input class="unlink_date" type="date" id="birthday" name="birthday">
                                        </div>
                                    </div>
                                </div>
                                <div class="unlink_filter-buttons">
                                    <div class="btnreset">
                                        <button>Reset</button>
                                    </div>
                                    <div class="btnapply">
                                        <button>Apply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <a href="#"><img src="assets/images/svg/filter1.svg" class="img-position filtermenu" /></a>   -->
            </li>
            <!-- <li class="list-inline-item">
                <a href="#"> <img src="assets/images/svg/filter2.svg" class="img-position filtermenu" /></a>
            </li> -->
            <li class="list-inline-item">
                <a href="#"> <img src="assets/images/svg/more.svg" class="img-position " /></a>
            </li>
        </ul>
    </div>
</div>