<div class="wrapper">
    <div class="filter-action">
        <button class="filters filter-blue" (click)="openVertically(agentModal);">Add Agent</button>
    </div>
    <div class="tbl-section">
        <div class="data-body">
            <table>
                <thead>
                    <tr style="font-weight: bold;">
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Email</th>
                        <th>Phone No</th>
                        <th>Status</th>
                        <!-- <th>Edit</th>
                        <th>Delete</th> -->
                     
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of teamAgentList | paginate: { itemsPerPage:10, currentPage: p }">
                        <!-- <tr> -->
                            <td class="media-profile"> 
                                <img *ngIf="data.Profilephotourl != null"
                                src='{{data.Profilephotourl}}' class="case-profile" alt="user" />
                            <img *ngIf="data.Profilephotourl == null" src="assets/images/emptyProfile.jpg"
                                class="case-profile" alt="user" />
                        </td>
                        <!-- <td>{{data.Profilephotourl}}</td> -->
                        <!-- [routerLink]="['/teamAgent',data.TeamID]" -->
                       <td>    <a   class="filters filter-blue" style="cursor: pointer;"   [routerLink]="['/GetAgentCasesList',data.UserID]" > <p class="fontcolor" >{{data.FullName}}</p></a>  </td>
                       <td>{{data.RoleName}}</td>
                       <td>{{data.EmailID}}</td>
                       <td>{{data.PhoneNo}}</td>
                       <td>{{data.IsActive}}</td>
                       <!-- <td class="actions">
                        <a><i class="icon-edit"></i></a>
                    </td>
                    <td class="delete">
                        <a><i  class="icon-dustbox"></i></a>
                    </td> -->
                   </tr>

               
                </tbody>
            </table>
        </div>
    </div>
    <div class="data-footer">
        <paging-controls (pageChange)="p = $event" [isItemsPerPage]="false"></paging-controls>
    </div>

</div>
<ng-template #agentModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title"> Add Agent</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="conatct-frm">
            <!-- <form action=""> -->
                <div class="search-panel">
                    <div class="form-group">
                        <input type="search" class="form-control" [(ngModel)]="searchText" placeholder="Search Name" />

                        <button class="btn" type="btn"><i class="icon-search"></i></button>
                    </div>
                </div>
                <div class="check-list">
                    <!-- <ul *ngFor="let items of searchContactList | filter:searchText">
                        <li>
                            <div class="check-item">
                                <label for="">{{items.FullName}}</label>
                                <mat-checkbox  (change)="isAllSelectedAdmin(items)"></mat-checkbox>
                            </div>
                           
                        </li>
                    </ul> -->
                    <ul>
                         <li>
                            <div class="check-item">
                                <label for="">Abhishek Patil</label>
                                <mat-checkbox ></mat-checkbox>
                            </div>
                           
                        </li>
                        <li>
                            <div class="check-item">
                                <label for="">Abhishek Patil</label>
                                <mat-checkbox ></mat-checkbox>
                            </div>
                           
                        </li>
                        <li>
                            <div class="check-item">
                                <label for="">Abhishek Patil</label>
                                <mat-checkbox ></mat-checkbox>
                            </div>
                           
                        </li>
                        <li>
                            <div class="check-item">
                                <label for="">Abhishek Patil</label>
                                <mat-checkbox ></mat-checkbox>
                            </div>
                           
                        </li>
                        <li>
                            <div class="check-item">
                                <label for="">Abhishek Patil</label>
                                <mat-checkbox ></mat-checkbox>
                            </div>
                           
                        </li> 
                    </ul>
                </div>
                <div class="text-center mt-3">
                    <button class="filled-btn" >Save Agent</button>
                </div>
            <!-- </form> -->
        </div>

    </div>
</ng-template>