.modal_tblheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    .tbl-ttl {
        color: #333333;
        font-weight: bolder;
        font-size: 18px;
    }
    .file-upload {
        margin-right: 20px;
        .btn-export{
            background-color: #fff;
            box-shadow: 0px 2px 3px #0000001A;
            border: 1px solid #EAEAEA;
            text-decoration: none;
            border-radius: 3px;
            padding:6px 16px;
            &:focus{
                outline: none;
                text-decoration: none;
            }
            span{
                color: #5F5F5F;
                font-size: 14px;
                padding-left: 5px;
            }
        }
    }
}
.modal-footer {
    border-top: none;
    .cust-mod-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}
