{{caseInfo|json}}
<div class="d-flex justify-content-between">
    <h5 class="content-title">Case Info</h5>
    <a href="" class="more-btn">More Details ></a>

</div>
<hr />
<div class="table-responsive">
    <table class="table table-hover font-2x">
        <tbody>
            <tr>
                <td>Status</td>
                <td class="blue text-right"><strong>Open</strong> <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="#5F5F5F"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" /></svg></td>
            </tr>
            <tr>
                <td>Priority</td>
                <td class="red text-right"><strong>High</strong> <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="#ff0000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" /></svg></td>
            </tr>
            <tr>
                <td>Type</td>
                <td class="text-right"><strong>Support Team</strong> <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="#5F5F5F"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" /></svg></td>
            </tr>
            <tr>
                <td>Assign To</td>
                <td class="text-right"><strong>Amit Patil</strong> <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="16px" fill="#5F5F5F"><path d="M0 0h24v24H0z" fill="none" /><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" /></svg></td>
            </tr>
            <tr>
                <td>Case ID</td>
                <td class="text-right"><strong>240736</strong></td>
            </tr>
            <tr>
                <td>Created On</td>
                <td class="text-right"><strong>20/05/2021 2:30PM</strong></td>
            <tr>
                <td>Due Date</td>
                <td class="text-right"><strong>20/05/2021 2:30PM</strong></td>
            </tr>
        </tbody>
    </table>
</div>