<div>
    <div class="tab-pane" id="contact-info" role="tabpanel" aria-labelledby="contact-tab">
        <app-contact-info [selectedCaseId]="selectedCaseId"></app-contact-info>
    </div>
    
    <div class="tab-pane" id="case-info" role="tabpanel" aria-labelledby="profile-tab">
        <div class="case-div-bottom">
            <div class="head-title d-flex justify-content-between">
                <h5 class="content-title">Case Info</h5>
                <a href="" class="more-btn">More Details ></a>
            </div>
            <!-- <hr /> -->
            <div class="table-responsive tbl-caseinfo">
                <table class="table table-hover font-2x">
                    <tbody>
                        <tr>
                            <td class="tbl-fileds">Status</td>
                            <td class="blue text-right"><strong>
                                    <div class="dropdown caseifo-status-drpdown">
                                        <button class="btn btn-caseinfo-add" type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{caseInfo.Status}}
                                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24"
                                                width="20px" fill="#5F5F5F">
                                                <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                                                <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" />
                                            </svg>
                                        </button>
                                        <!-- <div class="dropdown-menu add-drpmenu" aria-labelledby="dropdownMenuButton">
                                            <div class="add-menus">
                                                <a href="#" id="show-new-cases">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px"
                                                        viewBox="0 0 24 24" width="20px" fill="#333333">
                                                        <path d="M0 0h24v24H0z" fill="none" />
                                                        <path
                                                            d="M22 10V6c0-1.11-.9-2-2-2H4c-1.1 0-1.99.89-1.99 2v4c1.1 0 1.99.9 1.99 2s-.89 2-2 2v4c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-4c-1.1 0-2-.9-2-2s.9-2 2-2zm-2-1.46c-1.19.69-2 1.99-2 3.46s.81 2.77 2 3.46V18H4v-2.54c1.19-.69 2-1.99 2-3.46 0-1.48-.8-2.77-1.99-3.46L4 6h16v2.54zM11 15h2v2h-2zm0-4h2v2h-2zm0-4h2v2h-2z" />
                                                    </svg>
                                                    New Case
                                                </a>
                                            </div>

                                            <div class="add-menus">
                                                <a href="#" id="show-new-contact">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="18px"
                                                        viewBox="0 0 24 24" width="18px" fill="#333333">
                                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                                        <path
                                                            d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V6h16v12zM4 0h16v2H4zm0 22h16v2H4zm8-10c1.38 0 2.5-1.12 2.5-2.5S13.38 7 12 7 9.5 8.12 9.5 9.5 10.62 12 12 12zm0-3.5c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm5 7.49C17 13.9 13.69 13 12 13s-5 .9-5 2.99V17h10v-1.01zm-8.19-.49c.61-.52 2.03-1 3.19-1 1.17 0 2.59.48 3.2 1H8.81z" />
                                                    </svg>
                                                    New Contact
                                                </a>
                                            </div>

                                        </div> -->
                                        <div class="dropdown-menu case-drpmenu" aria-labelledby="dropdownMenuButton">
                                            <div class="case-menus">
                                                <button class="csmenu" (click)="openVerticallyCentered(content)">
                                                    Open</button>
                                                <!-- <a href="#" id="show-new-cases" (click)="openVerticallyCentered(content)">                                                   
                                                   Open
                                                </a> -->
                                            </div>
                                            <div class="case-menus">
                                                <button class="csmenu" (click)="openVerticallyCentered(content)">
                                                    Close</button>
                                                <!-- <a href="#" id="show-new-contact">
                                                    Close
                                                </a> -->
                                            </div>
                                            <div class="case-menus">
                                                <button class="csmenu" (click)="openVerticallyCentered(content)">
                                                    Pending</button>
                                                <!-- <a href="#" id="show-new-contact">
                                                    Pending
                                                </a> -->
                                            </div>
                                            <div class="case-menus">
                                                <button class="csmenu" (click)="openVerticallyCentered(content)">
                                                    Hold</button>
                                                <!-- <a href="#" id="show-new-contact">
                                                    Hold
                                                </a> -->
                                            </div>

                                        </div>
                                    </div>
                                </strong> </td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Priority</td>
                            <td class="red text-right"><strong>{{caseInfo.Priority}}</strong> <svg
                                    xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px"
                                    fill="#ff0000">
                                    <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                                    <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Assign To Team</td>
                            <td class="text-right"><strong>{{caseInfo.AssignedToTeamName}}</strong> <svg
                                    xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px"
                                    fill="#5F5F5F">
                                    <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                                    <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Assign To Agent</td>
                            <td class="text-right"><strong>{{caseInfo.AssignedToAgentName}}</strong> <svg
                                    xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="16px"
                                    fill="#5F5F5F">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Case ID</td>
                            <td class="text-right"><strong>{{caseInfo.CaseID}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Created On</td>
                            <td class="text-right"><strong>{{caseInfo.CreatedDate}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Case Type</td>
                            <td class="text-right"><strong>{{caseInfo.CaseType}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Requested By</td>
                            <td class="text-right"><strong>{{caseInfo.RequestedByEmailId}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Source Id</td>
                            <td class="text-right"><strong>{{caseInfo.CaseSource}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Source Channel </td>
                            <td class="text-right"><strong>{{caseInfo.CaseSourceName}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Callback Request</td>
                            <td class="text-right"><strong>{{caseInfo.CallBackReq}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Escalation</td>
                            <td class="text-right"><strong>{{caseInfo.Escalation}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Junk</td>
                            <td class="text-right"><strong>{{caseInfo.Junk}}</strong></td>
                        </tr>
                        <tr>
                            <td class="tbl-fileds">Remarks</td>
                            <td class="text-right"><strong>{{caseInfo.Remarks}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<ng-template #content let-modal>
    <div class="case-info-modal">
        <div class="modal-header">
            <!-- <h4 class="modal-title">Modal title</h4> -->
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="caseinfo-modal-bdy">
                <h2 class="case-ttl">Are you sure? </h2>
                <p class="sub-ttl"> You want to change status</p>
            </div>
            <div class="case-modal-button">
                <div class="btn-no">
                    <button>
                        No
                    </button>
                </div>
                <div class="btn-yes">
                    <button>
                        Yes
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
          </div> -->
    </div>
</ng-template>