<div class="custom-tab bordered-tab">
    <ul class="nav logs-tabs">
        <li *ngIf="callLogSmsAccessModule"><a data-target="#sms" data-toggle="tab" class="active">SMS</a></li>
        <li *ngIf="callLogWhatsAppAccessModule"><a data-target="#whatsapp" data-toggle="tab">Whatsapp</a></li>
        <li *ngIf="callLogsCallsAccessModule"><a data-target="#calls" data-toggle="tab">call</a></li>
    </ul>
    <div class="scroll-content">
        <div class="tab-content">
            <div id="sms" class="tab-pane active" *ngIf="callLogSmsAccessModule">
                <ul class="logs-data">
                    <li>
                        <a href="tel:+91 988 454 7742">
                            <div class="whats-list">
                                <div class="logo">
                                    <img src="assets/images/svg/textboxgreenlogo.svg" alt="text-box">
                                </div>
                                <div class="data">
                                    <p class="number">+91 988 454 7742</p>
                                    <p class="time">23-09-2021 03:25:00</p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+91 988 454 7742">
                            <div class="whats-list">
                                <div class="logo">
                                    <img src="assets/images/svg/textboxgreenlogo.svg" alt="text-box">
                                </div>
                                <div class="data">
                                    <p class="number">+91 988 454 7742</p>
                                    <p class="time">23-09-2021 03:25:00</p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+91 988 454 7742">
                            <div class="whats-list">
                                <div class="logo">
                                    <img src="assets/images/svg/textboxgreenlogo.svg" alt="text-box">
                                </div>
                                <div class="data">
                                    <p class="number">+91 988 454 7742</p>
                                    <p class="time">23-09-2021 03:25:00</p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+91 988 454 7742">
                            <div class="whats-list">
                                <div class="logo">
                                    <img src="assets/images/svg/textboxgreenlogo.svg" alt="text-box">
                                </div>
                                <div class="data">
                                    <p class="number">+91 988 454 7742</p>
                                    <p class="time">23-09-2021 03:25:00</p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+91 988 454 7742">
                            <div class="whats-list">
                                <div class="logo">
                                    <img src="assets/images/svg/textboxgreenlogo.svg" alt="text-box">
                                </div>
                                <div class="data">
                                    <p class="number">+91 988 454 7742</p>
                                    <p class="time">23-09-2021 03:25:00</p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+91 988 454 7742">
                            <div class="whats-list">
                                <div class="logo">
                                    <img src="assets/images/svg/textboxgreenlogo.svg" alt="text-box">
                                </div>
                                <div class="data">
                                    <p class="number">+91 988 454 7742</p>
                                    <p class="time">23-09-2021 03:25:00</p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+91 988 454 7742">
                            <div class="whats-list">
                                <div class="logo">
                                    <img src="assets/images/svg/textboxgreenlogo.svg" alt="text-box">
                                </div>
                                <div class="data">
                                    <p class="number">+91 988 454 7742</p>
                                    <p class="time">23-09-2021 03:25:00</p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+91 988 454 7742">
                            <div class="whats-list">
                                <div class="logo">
                                    <img src="assets/images/svg/textboxgreenlogo.svg" alt="text-box">
                                </div>
                                <div class="data">
                                    <p class="number">+91 988 454 7742</p>
                                    <p class="time">23-09-2021 03:25:00</p>
                                </div>

                            </div>
                        </a>
                    </li>


                </ul>
            </div>
            <div id="whatsapp" class="tab-pane" *ngIf="callLogWhatsAppAccessModule">
                <ul class="logs-data">
                    <li>
                        <a href="tel:+91 988 454 7742">
                            <div class="whats-list">
                                <div class="logo">
                                    <img src="assets/images/svg/whatslogo.svg" alt="text-box">
                                </div>
                                <div class="data">
                                    <p class="number">+91 988 454 7742</p>
                                    <p class="time">23-09-2021 03:25:00</p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+91 988 454 7742">
                            <div class="whats-list">
                                <div class="logo">
                                    <img src="assets/images/svg/whatslogo.svg" alt="text-box">
                                </div>
                                <div class="data">
                                    <p class="number">+91 988 454 7742</p>
                                    <p class="time">23-09-2021 03:25:00</p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+91 988 454 7742">
                            <div class="whats-list">
                                <div class="logo">
                                    <img src="assets/images/svg/whatslogo.svg" alt="text-box">
                                </div>
                                <div class="data">
                                    <p class="number">+91 988 454 7742</p>
                                    <p class="time">23-09-2021 03:25:00</p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+91 988 454 7742">
                            <div class="whats-list">
                                <div class="logo">
                                    <img src="assets/images/svg/whatslogo.svg" alt="text-box">
                                </div>
                                <div class="data">
                                    <p class="number">+91 988 454 7742</p>
                                    <p class="time">23-09-2021 03:25:00</p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+91 988 454 7742">
                            <div class="whats-list">
                                <div class="logo">
                                    <img src="assets/images/svg/whatslogo.svg" alt="text-box">
                                </div>
                                <div class="data">
                                    <p class="number">+91 988 454 7742</p>
                                    <p class="time">23-09-2021 03:25:00</p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+91 988 454 7742">
                            <div class="whats-list">
                                <div class="logo">
                                    <img src="assets/images/svg/whatslogo.svg" alt="text-box">
                                </div>
                                <div class="data">
                                    <p class="number">+91 988 454 7742</p>
                                    <p class="time">23-09-2021 03:25:00</p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+91 988 454 7742">
                            <div class="whats-list">
                                <div class="logo">
                                    <img src="assets/images/svg/whatslogo.svg" alt="text-box">
                                </div>
                                <div class="data">
                                    <p class="number">+91 988 454 7742</p>
                                    <p class="time">23-09-2021 03:25:00</p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+91 988 454 7742">
                            <div class="whats-list">
                                <div class="logo">
                                    <img src="assets/images/svg/whatslogo.svg" alt="text-box">
                                </div>
                                <div class="data">
                                    <p class="number">+91 988 454 7742</p>
                                    <p class="time">23-09-2021 03:25:00</p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+91 988 454 7742">
                            <div class="whats-list">
                                <div class="logo">
                                    <img src="assets/images/svg/whatslogo.svg" alt="text-box">
                                </div>
                                <div class="data">
                                    <p class="number">+91 988 454 7742</p>
                                    <p class="time">23-09-2021 03:25:00</p>
                                </div>

                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="calls" class="tab-pane" *ngIf="callLogsCallsAccessModule">
                <ul class="call-logs">
                    <li>
                        <div>
                            <a
                                href="#">https://xd.adobe.com/view/54faa1f7-0fb4-47fa-87b5-e9ea03a841b0-01a9/screen/d7e84060-976c-4186-890e-76c42f465eb1</a>
                        </div>
                        <div class="sub-data">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>