<div #divEmailEditorScroll class="form_to_rly">
    <div [hidden]="oInxData.interactionReplyType == 'CaseNote'">
        <ng-select #autoSelectEmail [items]="oInxData.arrFromEmail" placeholder="From" appendTo="body" [multiple]="false"
            bindLabel="SupportEmail" [clearable]="false"  (ngModelChange)="selectSourceEmail($event)" [(ngModel)]="oInxData.selectedFromEmail" class="mb-3">
        </ng-select>
    </div>

    <div [hidden]="oInxData.interactionReplyType == 'CaseNote'">
        <ng-select [items]="oInxData.arrToEmail" placeholder="To" appendTo="body" [multiple]="true" [addTag]="true"
            [clearable]="false" [(ngModel)]="oInxData.selectedToEmail" class="mb-3">
        </ng-select>
    </div>
    <!-- [items]="oInxData.arrCcEmail" -->
    <div *ngIf="addCCInteractionCasesRole" [hidden]="oInxData.interactionReplyType == 'CaseNote'">
        <ng-select [items]="ccType" [addTag]="addEmailCC"  placeholder="Cc" appendTo="body" [multiple]="true" 
            [(ngModel)]="ccType" class="mb-3" >
        </ng-select>
    </div>

    <div class="floating-label">
        <input type="text" class="floating-input" placeholder=" "  [(ngModel)]="oInxData.subject">
        <label>Subject</label>
    </div>
    <br/>
    <app-case-disp-subdisp-subdisp></app-case-disp-subdisp-subdisp>
    <!-- <input class="floating-input subject" type="text" placeholder="Subject" [(ngModel)]="oInxData.subject"> -->
    &nbsp;
    <!-- <textarea class="floating-input" type="text" placeholder="" row="5" [(ngModel)]="oInxData.description"></textarea> -->
    <input [ngxSummernote]="config" type="text" [(ngModel)]="oInxData.description">

    <br>
    <div class="btn_rly_mail mb-3">
        <div>
            <button class="btn_discard" (click)="discardMail()">Discard</button>
        </div>
        <div>
            <button class="btn_send" (click)="sendMail()">Send</button>
        </div>
    </div>
</div>