<div class="container-fluid mobile-padding">
    <div class="admin_content">
        <div class="Admin_elements">
            <div class="admin_title">
                <span>Header</span>
            </div>
            <div class="admin_body">
                <div class="row">
                    <div class="col col-lg-2">
                        <div class="admin-roles">
                            <a href="">
                                <div>
                                    <img src="assets/images/svg/agents.svg" alt="agents">
                                </div>
                                <div class="admin_info">
                                    <span>Agents</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col col-lg-2">
                        <div class="admin-roles">
                            <a href="">
                                <div>
                                    <img src="assets/images/svg/teams.svg" alt="teams">
                                </div>
                                <div class="admin_info">
                                    <span>teams</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col col-lg-2">
                        <div class="admin-roles">
                            <a href="">
                                <div>
                                    <img src="assets/images/svg/roles.svg" alt="agents">
                                </div>
                                <div class="admin_info">
                                    <span>roles</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Admin_elements">
            <div class="admin_title">
                <span>Header</span>
            </div>
            <div class="admin_body">
                <div class="row">
                    <div class="col col-lg-2">
                        <div class="admin-roles">
                            <a href="">
                                <div>
                                    <img src="assets/images/svg/products.svg" alt="products">
                                </div>
                                <div class="admin_info">
                                    <span>products</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col col-lg-2">
                        <div class="admin-roles">
                            <a href="">
                                <div>
                                    <img src="assets/images/svg/rules.svg" alt="rules">
                                </div>
                                <div class="admin_info">
                                    <span>Business Rules</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col col-lg-2">
                        <div class="admin-roles">
                            <a href="">
                                <div>
                                    <img src="assets/images/svg/configuration.svg" alt="Configuration">
                                </div>
                                <div class="admin_info">
                                    <span>Configuration</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col col-lg-2">
                        <div class="admin-roles">
                            <a href="">
                                <div>
                                    <img src="assets/images/svg/email-notification.svg" alt="Email-Notification">
                                </div>
                                <div class="admin_info">
                                    <span>Email-Notification</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col col-lg-2">
                        <div class="admin-roles">
                            <a href="">
                                <div>
                                    <img src="assets/images/svg/objects.svg" alt="Objects">
                                </div>
                                <div class="admin_info">
                                    <span>Objects</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col col-lg-2">
                        <div class="admin-roles">
                            <a href="">
                                <div>
                                    <img src="assets/images/svg/templates.svg" alt="Templates">
                                </div>
                                <div class="admin_info">
                                    <span>Templates</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Admin_elements">
            <div class="admin_title">
                <span>Header</span>
            </div>
            <div class="admin_body">
                <div class="row">
                    <div class="col col-lg-2">
                        <div class="admin-roles">
                            <a href="">
                                <div>
                                    <img src="assets/images/svg/disposition.svg" alt="Disposition">
                                </div>
                                <div class="admin_info">
                                    <span>Disposition</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col col-lg-2">
                        <div class="admin-roles">
                            <a href="">
                                <div>
                                    <img src="assets/images/svg/channel-mapping.svg" alt="Channel-Mapping">
                                </div>
                                <div class="admin_info">
                                    <span>Channel source Mapping</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col col-lg-2">
                        <div class="admin-roles">
                            <a href="">
                                <div>
                                    <img src="assets/images/svg/channel-source.svg" alt="Channel-Source">
                                </div>
                                <div class="admin_info">
                                    <span>Channel Source</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col col-lg-2">
                        <div class="admin-roles">
                            <a href="">
                                <div>
                                    <img src="assets/images/svg/agents-template.svg" alt="Agents-template">
                                </div>
                                <div class="admin_info">
                                    <span>Agents template mapping</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>